// VARIABLES

$white: #fff;
$black: #000;
$main-font-color: #959595;
$highlight-color: #feb63e;
$link-color: #098c50;
$info-color: #0051a5;
$main-font: 'Muli', sans-serif;
$default-transition: 0.3s ease-out;
$lg: 1024px;
$md: 768px;
$sm: 480px;


// TAG SETTINGS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	line-height: normal;
	color: $main-font-color;
	font-family: $main-font;
	@media (max-width: $sm) {
		font-size: 1.4rem;
	}
}

h1, h2, h3, h4, p {
	margin-bottom: 5px;
}

h1 {
	font-size: 2rem;
	line-height: 2.6rem;
	text-transform: uppercase;
	@media (max-width: $sm) {
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
}

h2 {
	font-size: 3.4rem;
	line-height: 4.2rem;
	margin-bottom: 20px;
	@media (max-width: $sm) {
		font-size: 2.6rem;
		line-height: 3rem;
	}
}

h3 {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: 900;
	margin-bottom: 10px;
	@media (max-width: $sm) {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

p {
	line-height: 2.8rem;
}

img {
	max-width: 100%;
	height: auto;
}

a:link,
a:visited {
	text-decoration: none;
}

b {
	color: $link-color;
}

ul {
	list-style: none;
}


// HELPER CLASSES

.button-wrap {
	button {
		visibility: hidden;
		opacity: 0;
		text-transform: uppercase;
		background-color: $link-color;
		padding: 20px 30px;
		color: $white;
		border-radius: 20px;
		border: none;
		font-size: 1.8rem;
		letter-spacing: 0.2rem;
		transition: $default-transition;
		&.conform {
			visibility: visible;
			opacity: 1;
		}
	}
}


// GRID CLASSES

.flex {
	display: flex;
	&.flex-wrap {
		flex-wrap: wrap;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.justify-center {
		justify-content: center;
	}
	&.column {
		flex-direction: column;
	}
	&.vertical-center {
		align-items: center;
	}
	&.flex-end {
		justify-content: flex-end;
	}
}

#app {
	padding: 20px 0;
	min-height: 100vh;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	h1 {
		padding: 0 20px;
	}
}

.home {
	height: calc(100vh - 63px);
	h2 {
		margin: 0;
	}
	.button-wrap {
		padding: 0 20px;
		justify-content: flex-start;
		button {
			visibility: visible;
			opacity: 1;
		}
		.home-button {
			position: relative;
			height: 65px;
			width: 65px;
			margin-right: 20px;
			background-color: $info-color;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				height: 30px;
				width: 30px;
				background: url(images/home.svg) no-repeat center center;
				background-size: cover;
			}
		}
		#start {
			border: 2px solid $link-color;
			color: $link-color;
			background-color: $white;
			padding-left: 60px;
			position: relative;
			svg {
				display: block;
				position: absolute;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
				height: 30px;
				width: 30px;
				opacity: 1;
				background: url(images/stars.svg) no-repeat center center;
				background-size: cover;
			}
		}
	}
}

.scores {
	padding: 20px;
	li {
		position: relative;
		font-size: 2.6rem;
		line-height: normal;
		font-weight: 700;
		padding: 30px 0 10px 80px;
		color: $black;
		&:before {
			content: attr(data-date);
			font-size: 1.2rem;
			line-height: normal;
			position: absolute;
			left: 80px;
			top: 15px;
			color: $main-font-color;
		}
	}
	span {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 50%;
		left:  6px;
		color: $link-color;
		transform: translateY(-50%);
		border-radius: 15px;
		border: 2px solid $link-color;
		&:before {
			content: '#';
		}
	}
}

.question {
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: $default-transition;
	&.started-app {
		visibility: visible;
		opacity: 1;
	}
}



.info-text {
	padding: 0 20px;
}

.app-body {
	transition: $default-transition;
	opacity: 0;
	pointer-events: none;
	&.loaded {
		opacity: 1;
		pointer-events: auto;
	}
}

.answers {
	padding: 20px;
	margin: 0;
	li {
		position: relative;
		margin-bottom: 10px;
		padding: 15px 55px;
		border: 2px solid $highlight-color;
		border-radius: 10px;
		color: $black;
		transition: $default-transition;
		&:before, &:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 50px;
			opacity: 0;
			transition: $default-transition;
		}
		&:before {
			left: 11px;
			top: 10px;
			height: 30px;
			width: 30px;
			opacity: 1;
			background: url(images/stars.svg) no-repeat center center;
			background-size: cover;
		}
		&.selected {
			background-color: $highlight-color;
			color: $white;
			&:before {
				background: url(images/stars-white.svg) no-repeat center center;
				background-size: cover;
			}
		}
		&.correct {
			&:after {
				opacity: 1;
				background: url(images/done.svg) no-repeat center center;
				background-size: cover;
			}
		}
		&.wrong {
			&:after {
				opacity: 1;
				background: url(images/close.svg) no-repeat center center;
				background-size: cover;
			}
		}
	}
}

.result-page {
	display: none;
	opacity: 0;
	transition: $default-transition;
	&.loaded {
		opacity: 1;
	}
	.results-body {
		h2, figure, h3 {
			text-align: center;
			margin-bottom: 20px;
		}
		.info-text {
			margin-bottom: 35px;
		}
	}
	h3 {
		font-size: 3.6rem;
		line-height: normal;
		color: $black;
		letter-spacing: 0.3rem;
		font-weight: 600;
	}
	button {
		opacity: 1;
		visibility: visible;
		background-color: $white;
		color: $info-color;
		border: 2px solid $info-color;
	}
	figure {
		height: 20vh;
	}
	svg {
		height: 100%;
		width: auto;
	}
}





