// VARIABLES

$white: #fff;
$black: #000;
$main-font-color: #282828;
$main-color: #2c3d3b;
$secondary-font-color: #2b67f5;
$highlight-color: #2afc86;
$link-color: #616161;
$info-color: #05ce6b;
$box-color: #f7f7f7;
$main-font: 'Muli', sans-serif;
$default-transition: 0.3s ease-out;
$lg: 1024px;
$md: 768px;
$sm: 480px;


// TAG SETTINGS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	line-height: normal;
	color: $main-font-color;
	font-family: $main-font;
	@media (max-width: $sm) {
		font-size: 1.4rem;
	}
}

h1, h2, h3, h4, p {
	margin-bottom: 20px;
}

h1 {
	font-size: 4.2rem;
	line-height: 5.2rem;
	font-weight: 900;
	@media (max-width: $sm) {
		font-size: 3.2rem;
		line-height: 3.7rem;
	}
}

h2 {
	font-size: 3.4rem;
	line-height: 4.2rem;
	font-weight: 900;
	@media (max-width: $sm) {
		font-size: 2.6rem;
		line-height: 3rem;
	}
}

h3 {
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: 900;
	margin-bottom: 10px;
	@media (max-width: $sm) {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

p {
	line-height: 2.8rem;
}

img {
	max-width: 100%;
	height: auto;
}

a:link,
a:visited {
	text-decoration: none;
}

b {
	color: $link-color;
}

ul {
	list-style: none;
	margin: 0 0 20px 15px;
}

section {
	padding: 50px 0;
	position: relative;
	overflow-y: hidden;
}

p a {
	color: $info-color;
}


// HELPER CLASSES

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: 700;
}

.has-before {
	&:before {
		content: '';
		position: absolute;
	}
}
.has-after {
	&:after {
		content: '';
		position: absolute;
	}
}
.has-both {
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
}

// GRID CLASSES

.flex {
	display: flex;
	&.flex-wrap {
		flex-wrap: wrap;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.justify-center {
		justify-content: center;
	}
	&.column {
		flex-direction: column;
	}
	&.vertical-center {
		align-items: center;
	}
	&.flex-end {
		justify-content: flex-end;
	}
	@media (max-width: $lg) {
		&.lg-column {
			flex-direction: column;
		}
	}
	@media (max-width: $md) {
		&.md-column {
			flex-direction: column;
		}
	}
}

.col-50 {
	width: calc(50% - 10px);
	margin-right: 20px;
	&:nth-child(even) {
		margin-right: 0;
	}
	@media (max-width: $lg) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 35px;
	}
}

.col-30 {
	width: calc(33.333% - 14px);
	margin-right: 20px;
	&:nth-child(3n) {
		margin-right: 0;
	}
}

